
.content {
  details[open] {
      background-color: lighten($color: #2a9d8f, $amount: 50) !important;
      color: darkgray !important;
  }
  details {
    color: lightgray !important;
    background-color: #264653 !important;
    summary {
      cursor: pointer;
    }
  }
}

//使 fence 在一行,一行两个
.code_line {
  display:flex;
  flex-wrap: wrap;
  gap: 12px;
  > * {
    //flex:1 0 auto;
    flex:1 0;
    margin:0 !important;
  }
}
